body {
    margin: 0;
    font-family: Marcellus, sans-serif;
}


nav {
    background-color: #FFFFFF;
    color: #0d47a1;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 50px;
    align-items: center;
}


#nav-logo {
    width: 125px;
    height: 45px;
}

#nav-submenu {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

#nav-submenu > a {
    color: gray;
    text-decoration: none;
}

#nav-submenu > a:hover {
    color: black;
    text-decoration: underline;
    transition: 0.3s;
}

#nav-right {
    display: flex;
    gap: 50px;
    align-items: center;
}

#nav-right > a {
    text-decoration: none;
    color: gray;
}

#nav-right > a:hover {
    color: black;
    text-decoration: underline;
    transition: 0.3s;
}

.btn-base {
    color: white;
    background-color: #0d47a1;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    font-family: Marcellus, sans-serif;
    height: 50px;
    cursor: pointer;
}

.btn-base > a {
    text-decoration: none;
    color: white;
}

header {
    background-color: #0d47a1;
    color: white;
    padding: 20px 0;
    text-align: center;
}

main{
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#about h2 {
    color: #0d47a1;
}

#about h3 {
    margin-top: 20px;
}

ul {
    margin: 15px 0;
    padding-left: 20px;
}

ul li {
    margin: 10px 0;
}

#team {
    margin-top: 40px;
    text-align: center;
}

.ceo-container {
    display: flex;
    justify-content: center;
    gap: 65px;
    margin-top: 20px;
}

.ceo {
    text-align: center;
}

.ceo img {
    width: auto;
    height: auto;
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #0d47a1;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}