
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Marcellus, sans-serif;
}

nav {
    background-color: #FFFFFF;
    color: #0d47a1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0.625rem 3.125rem;
    align-items: center;
}

#nav-logo {
    width: 7.8125em;
    height: auto;
}

#nav-submenu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 3.125rem;
}

#nav-submenu > a {
    color: gray;
    text-decoration: none;
}

#nav-submenu > a:hover {
    color: black;
    text-decoration: underline;
    transition: 0.3s;
}

#nav-right {
    display: flex;
    flex-wrap: wrap;
    gap: 3.125rem;
    align-items: center;
}
#form-redirect {
    text-decoration: none;
    color: gray;
}

#form-redirect:hover {
    color: black;
    text-decoration: underline;
    transition: 0.3s;
}

#menu-logo {
    display: none;
}

#mobile-nav {
    display: none;
}
#user-txt {
    color: gray;
    font-size: 1rem;
}

#host-link {
    color: gray;
    text-decoration: none;
}

.btn-base {
    color: white;
    background-color: #0d47a1;
    padding: 0.625rem 1.25rem;
    border-radius: 0.5rem;
    border: none;
    font-weight: 600;
    font-family: Marcellus, sans-serif;
    height: 3.125rem;
    cursor: pointer;
}

#scroll-btn {
    background: transparent;
    color: white;
    border: 0.0625rem solid white;
    font-size: 1.25rem;
    border-radius: 0.5rem;
    padding: 0.625rem 1.25rem;
    font-weight: 300;
    font-family: Marcellus, sans-serif;
    cursor: pointer;
}

#scroll-btn:hover {
    background-color: white;
    color: #0d47a1;
    border: none;
    transition: 1s;
}

.main {
    height: 40.625rem;
    background-image: url('../images/Long_ridge_of_Pashallore.jpg');
    background-size: cover;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#main-txt {
    max-width: 43.75rem;
    text-align: center;
    color: white;
    padding-bottom: 6.25rem;
}

#main-txt > h1 {
    font-size: 4.375rem;
}

#services {
    height: 42.5rem;
}

#services > h1 {
    color: #0d47a1;
    font-size: 2.5rem;
    padding: 1.6rem 3.125rem;
    padding-bottom: 0;
    text-decoration: underline;
    text-align: center;
}

#services > p {
    color: #0d47a1;
    text-align: center;
    width: 60%;
    display: block;
    margin: auto;
    margin-top: 0;
}

.section-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: #0077B6;
}

#brezovica {
    display: block;
    margin: auto;
    width: 100%;
}

#sharr {
    display: none;
    margin: auto;
    width: 100%;
}

#rugova {
    display: none;
    margin: auto;
    width: 100%;
}

.controls {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}

.controls > button {
    background-color: #0d47a1;
    color: white;
    border: none;
    padding: 0.3rem 0.6rem;
    border-radius: 0.3rem;
    font-size: 1rem;
    cursor: pointer;
}

.btn-base:hover {
    transform: scale(1.05);
}

.controls > button:hover {
    transform: scale(1.1);
}

.section-content > a {
    display: block;
    margin: auto;
}

.services-img {
    width: 40%;
    height: 21rem;
    object-fit: cover;
    display: block;
    margin: auto;
    border-radius: 0.3rem;
}

.services-box {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.products {
    width: 100%;
    height: 40.625rem;
    margin-top: 4.375rem;
}

.products-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    padding-bottom: 4.375rem;
    color: #0077B6;
}

.products > h1 {
    color: #0d47a1;
    font-size: 2.5rem;
    padding: 1.5625rem;
    text-decoration: underline;
    text-align: center;
}

.products > p {
    color: #0d47a1;
    text-align: center;
    font-size: 1.25rem;
    padding-bottom: 1.5625rem;
}

.products > a {
    display: block;
    margin: auto;
    width: fit-content;
}


.products-img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    border: 0.0625rem solid #D3D3D3;
}

.btn-base > a {
    text-decoration: none;
    color: white;
}

footer {
    background-color: #0d47a1;
    padding: 2.25rem 6.25rem;
}

footer > label {
    color:white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
    align-items: center;
}

.footer-img {
    width: 12.5rem;
    height: auto;
}

#footer-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
    align-items: start;
    gap: 9.375rem;
}


@media (max-width: 1280px){
    
    #services > h1, .products > h1 {
        font-size: 2rem;
        text-align: center;
    }
    .services-img {
        width: 60%;
        height: 23rem;
    }
}

@media (max-width: 1024px){
    nav {
        font-size: smaller;
    }

    .main {
        height: 25rem;
        padding: 2rem;
        text-align: center;
    }

    #main-txt > h1 {
        font-size: 2.5rem;
    }

    .products > h1 {
        font-size: 2rem;
        text-align: center;
    }

    #services > p {
        width: 80%;
    }

    .services-img {
        width: 60%;
        height: 18rem;
    }

    .controls {
        gap: 15rem;
    }

    #nav-right {
        gap: 2rem;
    }

    .products {
        margin-top: -1rem;
        margin-bottom: -4rem;
    }

    .products > p {
        max-width: 40rem;
        margin: auto;
        display: block;
        margin-bottom: 1rem;
    }

    .products-content {
        align-items: center;
        gap: 2rem;
    }

    .products-img {
        width: 10rem;
        height: 10rem;
    }

    #footer-right {
        gap: 3.4rem;
        font-size: 0.8rem;
    }

    #footer-left { 
        max-width: 16rem;
    }

    footer > label {
        padding-top: 1.5rem;
    }

    #user-txt {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {

    nav {
        justify-content: space-between;
        align-items: center;
    }

    #nav-submenu, #nav-right {
        display: none;
    }

    #mobile-nav {
        display: none;
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 13px;
        padding: 0;
        padding-top: 4px;
    }

    #mobile-nav > a {
        color: #4A4A4A;
        text-decoration: none;
    }

    #mobile-nav > a > button {
        font-size: smaller;
        padding: 0.6rem;
        height: auto;
    }

    #menu-logo {
        display: flex;
        width: 1.3rem;
        height: auto;
        cursor: pointer;
    }

    .main {
        padding: 2rem;
        text-align: center;
    }

    #main-txt > h1 {
        font-size: 2.5rem;
    }

    #services {
        margin-top: 2rem;
    }

    #services > p{
        width: 80%;
        font-size: smaller;
    }

    .controls {
        gap: 8rem;
    }

    .services-img {
        width: 80%;
        height: 12rem;
    }

    .products {
        margin-top: -2rem;
    }

    .products > h1 {
        font-size: 2rem;
    }

    .products > p {
        max-width: 22rem;
        margin: auto;
        display: block;
        margin-bottom: 1rem;
    }

    .products-content {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .products-img {
        width: 10rem;
        height: 10rem;
    }

    #user-txt {
        margin: 0;
        color: #4A4A4A;
        font-size: 0.9rem;
        font-family: Marcellus, sans-serif;
    }

    footer {
        text-align: center;
        margin-top: 24rem;
    }

    #footer-right {
        align-items: center;
        width: 100%;
        gap: 1rem;
        padding-top: 2rem;
        justify-content: center;
        font-size: 0.8rem;
        margin-bottom: 1.55rem;
    }

    #footer-left { 
        width: 100%;
    }

    .footer-img {
        width: 100%;
        display: block;
        margin: auto;
    }

    #footer-right > div{
        padding: 0.6rem;
    }
}